@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@700&family=Roboto:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    color: var(--font-color);
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;

    --border-radius: 12px;
    --font-color: #323232;
}

h2 {
    font-family: "Porza Libre", sans-serif;
    margin: 0;
    margin-bottom: var(--spacing-2);
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing03);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3);
}


.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto; /* It moves the ul to the rightmost side */
}

.navigation-item {
    margin: var(--spacing-1);
}

.portrait {
    width: 300px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}

.about-me-container {
    display: flex;
}

.about-me-text-container {
    margin-right: var(--spacing-3);
}

.project-title h3{
    display: inline;
}

summary {
    cursor: pointer;
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
    margin-top: auto; /* It moves the item to bottom most */
    padding: var(--spacing-2) 0;
}

section {
    padding: var(--spacing-3) 0;
}

nav a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

#logo {
    margin: 0;
}

.fa-brands {
    font-size: 32px;
    padding: var(--spacing-3);
}





@media only screen and (max-width: 600px) {

    .about-me-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {
    body {
        padding: var(--spacing-2);
    }
}